html, body{
  margin: 0;
  padding:0;
}
body{
  background-color: #1d2120;
}
section.title{
  display:block;
}
.title .intro{
  position: relative;
  top: 75%;
  padding: 10em;
  text-align: center;
  margin: 0;
}
.title .intro h1 {
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
  color: #bcd5d1;
  font-size: 3.5em;
  font-weight: 600;
  margin: 0;
}
.title .intro #icons {
  list-style: none outside none;
  margin: 5px 0 0 0;
  padding: 2%;
  text-align: center;
}
.title .intro #icons li {
  display: inline;
  display: inline-block;
  line-height: 5.885em;
  position: relative;
  width: 6.25em;
}
#icons li a:hover {
  text-decoration: none;
  background-color: #bcd5d1;
  color: #1d2120;
  font-size: 2.1em;
}

#icons li a {
  background-color: #1d2120;
  color: #bcd5d1;
  display: inline-block;
  border-radius: 80%;
  border: solid 2px #1d2120;
  font-size: 1.8em;
  height: 2.5em;
  line-height: 2.5em;
  position: relative;
  text-align: center;
  top: 0;
  width: 2.5em;
}

#btn-resume{
  background-color: #bcd5d1;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 30px;
  color: #1d2120;
  font-weight: 300;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}


